#############################
## Custom
#############################
/src/test/java/RNDP_*.java
/randoop-4.2.5/

##############################
## Java
##############################
*.class
*.jar

##############################
## Maven
##############################
target/

##############################
## IntelliJ
##############################
.idea/
*.iml

##############################
## Eclipse
##############################
.settings/
.metadata
.classpath
.project

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
